# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

/code/proj.win32/Debug.win32
/code/cocos2d/cocos/2d/Debug.win32
/code/cocos2d/cocos/audio/proj.win32/Debug.win32
/code/cocos2d/external/chipmunk/proj.win32/Debug.win32
/code/proj.android/obj
